@import 'src/style/_lib.scss';

body {
  margin: 0px;
  // height: 100%;
  width: 100vw;
  font-family: 'Amiko', sans-serif;
}

h1 {
  margin-left: 20px;
}

#root {
  // height: 100%;
  background-color: rgb(211, 211, 211);
}

.App {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.main {
  width: 100%;
}