@import 'src/style/_lib.scss';

.popular-destination {
  border: $border-component;
  margin: $component-margin;
  background-color: $component-background-colour;
  border-radius: $border-radius;
  width: 75%;
  height: 300px;
}