@import 'src/style/_lib.scss';

.side-nav {
  border: $border-nav;
  width: 150px;
  background-color: lightsteelblue;
  height: 600px;
}

.quote-sidebar {
  cursor: pointer;
}

.quote-sidebar:hover {
  background: #5f6caf;
}